<div class="d-flex align-items-center cart-product-image">
    {% if item.product.images %}
        <img
            src="{{ item.product.images.url }}"
            alt="{{ item.product.name }}"
            class="rounded cart-img"
        >
    {% else %}
        <img
            src="{{ MEDIA_URL }}photos/products/noimage.png"
            alt="No image"
            class="rounded cart-img"
        >
    {% endif %}

    <strong class="ml-3 text-black">
        {{ item.product.name }}
    </strong>
</div>
