<div class="d-flex align-items-center cart-product-image">
    {% if item.product.images %}
        <img
            src="{{ item.product.images.url }}"
            alt="{{ item.product.name }}"
            class="rounded cart-img"
        >
    {% else %}
        <img
            src="{{ MEDIA_URL }}photos/products/noimage.png"
            alt="No image"
            class="rounded cart-img"
        >
    {% endif %}

    <strong class="ml-3 text-black">
        {{ item.product.name }}
    </strong>
</div>







{% comment %} <div class="d-flex align-items-center cart-product-image">
    {% if item.product.images %}
        <img
            src="{{ item.product.images.url }}"
            alt="{{ item.product.name }}"
            class="img-fluid rounded"
        >
    {% else %}
        <img
            src="{{ MEDIA_URL }}photos/products/noimage.png"
            alt="No image"
            class="img-fluid rounded"
        >
    {% endif %}

    <strong class="ml-3 text-black">
        {{ item.product.name }}
    </strong>
</div> {% endcomment %}

    


{% comment %} 
<div class="cart-product">
    {% if item.product.images %}
        <img src="{{ item.product.images.url }}" alt="{{ item.product.name }}">
    {% else %}
        <img src="{{ MEDIA_URL }}photos/products/noimage.png" alt="No image">
    {% endif %}
    <strong>{{ item.product.name }}</strong>
</> {% endcomment %}






{% comment %} <div class="d-flex align-items-center">
    {% if item.product.images %}
        <img src="{{ item.product.images.url }}"
             class="rounded mr-3"
             style="width:90px;height:90px;object-fit:cover;">
    {% else %}
        <img src="{{ MEDIA_URL }}photos/products/noimage.png"
             class="rounded mr-3"
             style="width:90px;height:90px;object-fit:cover;">
    {% endif %}
    <strong class="text-black">{{ item.product.name }}</strong>
</div> {% endcomment %}
