{% if widget.is_initial %}
    <div class="mb-3">

        <p class="font-weight-bold mb-1">
            {{ widget.initial_text }}:
        </p>

        <a href="{{ widget.value.url }}" target="_blank" rel="noopener">
            <img
                src="{{ widget.value.url }}"
                width="96"
                height="96"
                class="rounded shadow-sm mb-2"
                alt="Current image"
            >
        </a>

        {% if not widget.required %}
            <div class="custom-control custom-checkbox mt-2">
                <input
                    type="checkbox"
                    class="custom-control-input"
                    name="{{ widget.checkbox_name }}"
                    id="{{ widget.checkbox_id }}"
                >
                <label
                    class="custom-control-label text-danger"
                    for="{{ widget.checkbox_id }}"
                >
                    {{ widget.clear_checkbox_label }}
                </label>
            </div>
        {% endif %}

    </div>
{% endif %}

<label class="btn btn-black rounded-0 btn-file mb-0">
    Select Image
    <input
        type="{{ widget.type }}"
        name="{{ widget.name }}"
        id="new-image"
        class="d-none"
        {% include "django/forms/widgets/attrs.html" %}
    >
</label>

<p class="text-danger font-weight-bold mt-2" id="filename"></p>
