.StripeElement {
    background-color: #fff;
    color: #000;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    border-color: #007bff;
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #dc3545;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#payment-form .form-control,
#card-element {
    color: #000;
}
